<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981101338131-7drq025igtrhbsai9gsqh0u3r0pb6ugl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981101338131-7drq025igtrhbsai9gsqh0u3r0pb6ugl</string>
	<key>API_KEY</key>
	<string>AIzaSyAWCO3xVx64JCYt_Gf5zgWDMXofOdtj2aw</string>
	<key>GCM_SENDER_ID</key>
	<string>981101338131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darshan.nectar.com</string>
	<key>PROJECT_ID</key>
	<string>nectar-grocery</string>
	<key>STORAGE_BUCKET</key>
	<string>nectar-grocery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981101338131:ios:3e3fe780fe2bd3d425a9e6</string>
	<key>DATABASE_URL</key>
	<string>https://nectar-grocery-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>