<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131906673791-8630p0efn3t3gggpeas434arov7co8ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131906673791-8630p0efn3t3gggpeas434arov7co8ek</string>
	<key>API_KEY</key>
	<string>AIzaSyCqnm9Yv5RXwOYMnLC-1_RXKGVO3aXRmG8</string>
	<key>GCM_SENDER_ID</key>
	<string>131906673791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>darshan.com.iOS.Zomato</string>
	<key>PROJECT_ID</key>
	<string>zomato-38f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>zomato-38f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131906673791:ios:8812246876a08f1da1334a</string>
</dict>
</plist>