<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171589400900-g4dg513r1rvconjfs7p85mdjvdqofq4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171589400900-g4dg513r1rvconjfs7p85mdjvdqofq4m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171589400900-p0ihj8c2j5dl5r04hf6e69kd50cl2mao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArDQve4O9do5aN3w320Mzu6RC8bLZNGdw</string>
	<key>GCM_SENDER_ID</key>
	<string>171589400900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workdo.productstore</string>
	<key>PROJECT_ID</key>
	<string>workdo2-70644</string>
	<key>STORAGE_BUCKET</key>
	<string>workdo2-70644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171589400900:ios:937b87a8fb7ba311dd7f11</string>
</dict>
</plist>